<table>
    <tr>
        <td class="numbers">8</td>
        <td id="A8" class="box"></td>
        <td id="B8" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="C8" class="box"></td>
        <td id="D8" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="E8" class="box"></td>
        <td id="F8" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="G8" class="box"></td>
        <td id="H8" class="box black"><img src="/resources/images/white.png" /></td>
    </tr>
    <tr>
        <td class="numbers">7</td>
        <td id="A7" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="B7" class="box"></td>
        <td id="C7" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="D7" class="box"></td>
        <td id="E7" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="F7" class="box"></td>
        <td id="G7" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="H7"class="box"></td>
    </tr>
    <tr>
        <td class="numbers">6</td>
        <td id="A6" class="box"></td>
        <td id="B6" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="C6" class="box"></td>
        <td id="D6" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="E6" class="box"></td>
        <td id="F6" class="box black"><img src="/resources/images/white.png" /></td>
        <td id="G6" class="box"></td>
        <td id="H6" class="box black"><img src="/resources/images/white.png" /></td>
    </tr>
    <tr>
        <td class="numbers">5</td>
        <td id="A5" class="box black"></td>
        <td id="B5" class="box"></td>
        <td id="C5" class="box black"></td>
        <td id="D5" class="box"></td>
        <td id="E5" class="box black"></td>
        <td id="F5" class="box"></td>
        <td id="G5" class="box black"></td>
        <td id="H5" class="box"></td>
    </tr>
    <tr>
        <td class="numbers">4</td>
        <td id="A4" class="box"></td>
        <td id="B4" class="box black"></td>
        <td id="C4" class="box"></td>
        <td id="D4" class="box black"></td>
        <td id="E4" class="box"></td>
        <td id="F4" class="box black"></td>
        <td id="G4" class="box"></td>
        <td id="H4" class="box black"></td>
    </tr>
    <tr>
        <td class="numbers">3</td>
        <td id="A3" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="B3" class="box"></td>
        <td id="C3" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="D3" class="box"></td>
        <td id="E3" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="F3" class="box"></td>
        <td id="G3" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="H3" class="box"></td>
    </tr>
    <tr>
        <td class="numbers">2</td>
        <td id="A2" class="box"></td>
        <td id="B2" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="C2" class="box"></td>
        <td id="D2" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="E2" class="box"></td>
        <td id="F2" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="G2" class="box"></td>
        <td id="H2" class="box black"><img src="/resources/images/black.png" /></td>
    </tr>
    <tr>
        <td class="numbers">1</td>
        <td id="A1" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="B1" class="box"></td>
        <td id="C1" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="D1" class="box"></td>
        <td id="E1" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="F1" class="box"></td>
        <td id="G1" class="box black"><img src="/resources/images/black.png" /></td>
        <td id="H1" class="box"></td>
    </tr>
    <tr>
        <td class="numbers letters"></td>
        <td class="letters">A</td>
        <td class="letters">B</td>
        <td class="letters">C</td>
        <td class="letters">D</td>
        <td class="letters">E</td>
        <td class="letters">F</td>
        <td class="letters">G</td>
        <td class="letters">H</td>
    </tr>
</table>